[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"

[dev-packages]
black = "*"
flake8 = "*"
pycodestyle-magic = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
